// Google fonts
@import "https://fonts.googleapis.com/css?family=Oxygen+Mono|Oxygen:400,700";

// For Making borders on figures/blockquotes easier
@mixin block-padding-margin-swap() {
  padding-block-start: 1em;
  padding-block-end: 1em;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
} 

// Color variables
$primary: #6ED3A6;
$black: #202020;
$lightgray: #F3F3F3;
$darkgray: #8F8073;

body {
  max-width: 40rem;
  margin: auto;
  padding: 2rem;
  line-height: 1.5rem;
}

// Non-header font style
a, abbr, address, article, aside, b, body, blockquote, button,
cite, td, data, div, em, figure, figcaption, form,
footer, header, i, ins, label, li, main, nav, select, option,
output, p, param, q, s, section, small, span, strong, sub,
template, textarea, thead, tfoot, time, u {
  font-family: 'Oxygen', sans-serif;
  color: $black;
}

// Header font style
h1, h2, h3, h4, h5, h6, th, caption {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  color: $black;
}

// Sizing
h1 {
  font-size: 6rem;
  line-height: 6rem;
}
h2 {
  font-size: 4rem;
  line-height: 4rem;
}
h3 {
  font-size: 3rem;
  line-height: 3rem;
}
h4 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
h5 {
  font-size: 2rem;
  line-height: 2rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

// Block Elements
article, aside, blockquote, div, figure, form, footer, header,
main, p, textarea, q {
  display: block;
  margin: 3rem 0;
}

// Code
pre, code {
  font-family: 'Oxygen-Mono', monospace;
}

code {
  border: 1px solid $lightgray;
  border-radius: 4px;
  background: $lightgray;
  color: $primary;
}

pre {
  background-color: $darkgray;
  color: white;
  @include block-padding-margin-swap();
}

span { color: $primary; }
mark { background-color: $primary; }

a {
  color: $primary;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

blockquote, q {
  display: block;
  font-style: italic;
  background-color: $lightgray;
  border-left: 3px $primary solid;

  // Replace margin with padding
  @include block-padding-margin-swap();
  margin: 3rem 0;

  &::before { content: '"'; }
  &::after { content: '"'; }
}

// Table magic
table {
  margin: 1rem 0 ;
  width: 100%;
  border-collapse: collapse;

  caption {
    font-style: italic;
  }

  tr { line-height: 2rem; }
  td { text-align: center; }
  thead {
    line-height: 1.5rem;
    border-bottom: 1px solid $primary;
  }

  tbody {
    tr {
      &:nth-child(2n - 1) {
        background-color: transparentize($primary, 0.8);
        td {
          &:hover {
          background-color: darken(transparentize($primary, 0.8), 10%);
          }
        }
      }
      &:nth-child(2n) {
        td {
          &:hover {
          background-color: darken(transparentize(white, 0.8), 20%);
          }
        }
      }
    }
  }
}

// Easy Responsive Images
img {
  margin: auto;
  max-width: 100%;
}

// Wrap images with border
figure {
  border: 1px solid $primary;
  background-color: $lightgray;

  // Replace margin with padding
  @include block-padding-margin-swap();
  margin: 3rem 0;

  figcaption {
    text-align: right;
    font-style: italic;
    font-size: 0.75rem;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid $primary;
  margin: 3rem 0;
}

progress {
  color: $primary;
  background: $primary;
  line-height: 1rem;
  height: 0.5rem;
  vertical-align: middle;
}
progress::-moz-progress-bar { background: $primary; }
progress::-webkit-progress-value { background: $primary; }

button {
  cursor: pointer;
  font-size: 1rem;
  background-color: $primary;
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 0.5rem 1rem;

  &:focus { outline: none; }
  &:hover { background-color: darken($primary, 10%); }
  &:active {
    outline: none;
    background-color: darken($primary, 20%);;
  }
}

textarea {
  width: 100%;
  font-size: 1rem;
}

// Normal inputs
input {
  border-radius: 4px;
  border: 1px solid $darkgray;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;

  &:focus {
    outline: none;
    border: 1px solid $primary;
  }
}

// Checkboxes
input[type="checkbox"] {
  position: relative;

  &:checked {
    background-color: $primary;
    &::before {
      background-color: $primary;
    }
    &::after {
      position: absolute;
      top: -1px;
      right: -1px;
      content: '✓';
      color: white;
    }
  }

  &::before {
    content: '';
    width: 14px;
    height: 14px;
    background-color: white;
    border: 1px solid $darkgray;
    border-radius: 4px;
    position: absolute;
  }
  &:hover {
    ::before {
      border: 1px solid $primary;
    }
  }
}


// Radio Buttons
